<ion-content>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <div class="form">
    <header class="form-header">

    </header>
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" class="form">
      <ion-item>
        <ion-label position="floating"><i class="fa-solid fa-user"></i> Username</ion-label>
        <ion-input formControlName="username" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"><i class="fa-solid fa-envelope"></i> Email</ion-label>
        <ion-input formControlName="email" type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"><i class="fa-solid fa-key"></i> Password</ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
      </ion-item>

      <ion-button type="submit" fill="solid" expand="block" >
        Register
      </ion-button>
    </form>
  </div>
</ion-content>
